@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>乘车交易异常信息表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="startTermTransDate" name="开始时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss" />
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTermTransTime" name="结束时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss" />
                            </div>
                        	  	<div class="col-sm-3">
                                	<#NameCon id="cardno" name="卡号" />
                           	 	</div>
                        	  	<div class="col-sm-3">
                                	<#NameCon id="order_no" name="订单号" />
                           	 	</div>

                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="QrcodeRideTransError.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="QrcodeRideTransErrorTableToolbar" role="group">
                            @if(shiro.hasPermission("/qrcodeRideTransError/detail")){
                                <#button name="详情" icon="fa-plus" clickFun="QrcodeRideTransError.openQrcodeRideTransErrorDetail()" space="true"/>
                            @}
                        </div>
                        <#table id="QrcodeRideTransErrorTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/record/qrcodeRideTransError/qrcodeRideTransError.js"></script>
@}
