@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
						<#input id="id" name="id" underline="true" />
						<#input id="pltSsn" name="pltSsn" underline="true" />
						<#input id="reqSsn" name="reqSsn" underline="true" />
						<#input id="settleDateLoc" name="settleDateLoc" underline="true" />
						<#input id="transRecvDate" name="transRecvDate" underline="true" />
						<#input id="transRecvTime" name="transRecvTime" underline="true" />
						<#input id="transCodeOut" name="transCodeOut" underline="true" />
						<#input id="transCodeChnl" name="transCodeChnl" underline="true" />
						<#input id="transCodeChName" name="transCodeChName" underline="true" />
						<#input id="mchCodeIn" name="mchCodeIn" underline="true" />
						<#input id="mchNameOut" name="mchNameOut" underline="true" />
						<#input id="acqInsId" name="acqInsId" underline="true" />
						<#input id="acqInsSeq" name="acqInsSeq" underline="true" />
						<#input id="locTracsTime" name="locTracsTime" underline="true" />
						<#input id="locTracsDate" name="locTracsDate" underline="true" />
						<#input id="termTransTime" name="termTransTime" underline="true" />
						<#input id="termTransDate" name="termTransDate" underline="true" />
						<#input id="cardCity" name="cardCity" underline="true" />
						<#input id="csn" name="csn" underline="true" />
						<#input id="cardSeqNo" name="cardSeqNo" underline="true" />
						<#input id="cardCounter" name="cardCounter" underline="true" />
						<#input id="cardType" name="cardType" underline="true" />
						<#input id="cardPhyType" name="cardPhyType" underline="true" />
						<#input id="orderNo" name="orderNo" underline="true" />
						<#input id="state" name="state" underline="true" />
						<#input id="cardBramdid" name="cardBramdid" underline="true" />
						<#input id="cardClass" name="cardClass" underline="true" />
						<#input id="orderType" name="orderType" underline="true" />
						<#input id="tradeStatus" name="tradeStatus" underline="true" />
						<#input id="serialNum" name="serialNum" underline="true" />
						<#input id="cardno" name="cardno" underline="true" />
						<#input id="tradeTypeFlag" name="tradeTypeFlag" underline="true" />
						<#input id="cpuCounter" name="cpuCounter" underline="true" />
						<#input id="cardIisCode" name="cardIisCode" underline="true" />
						<#input id="timeCardType" name="timeCardType" underline="true" />
						<#input id="markTime" name="markTime" underline="true" />
						<#input id="markCityCode" name="markCityCode" underline="true" />
						<#input id="markIisCode" name="markIisCode" underline="true" />
						<#input id="markCsCode" name="markCsCode" underline="true" />
						<#input id="markLineId" name="markLineId" underline="true" />
						<#input id="markStation" name="markStation" underline="true" />
						<#input id="markBusId" name="markBusId" underline="true" />
						<#input id="downCsCode" name="downCsCode" underline="true" />
						<#input id="downLineId" name="downLineId" underline="true" />
						<#input id="downStation" name="downStation" underline="true" />
						<#input id="downBusId" name="downBusId" underline="true" />
						<#input id="takenLength" name="takenLength" underline="true" />
						<#input id="dirFlag" name="dirFlag" underline="true" />
						<#input id="driverCode" name="driverCode" underline="true" />
						<#input id="sellorCode" name="sellorCode" underline="true" />
						<#input id="sellorCode2" name="sellorCode2" underline="true" />
						<#input id="posId" name="posId" underline="true" />
						<#input id="posTradeSeq" name="posTradeSeq" underline="true" />
						<#input id="posDate" name="posDate" underline="true" />
						<#input id="tac" name="tac" underline="true" />
						<#input id="tacMode" name="tacMode" underline="true" />
						<#input id="psamId" name="psamId" underline="true" />
						<#input id="psamSeq" name="psamSeq" underline="true" />
						<#input id="chargeActual" name="chargeActual" underline="true" />
						<#input id="cardBalance" name="cardBalance" underline="true" />
						<#input id="preCardBalance" name="preCardBalance" underline="true" />
						<#input id="chargeIdeal" name="chargeIdeal" underline="true" />
						<#input id="keyVer" name="keyVer" underline="true" />
						<#input id="keyIndex" name="keyIndex" underline="true" />
						<#input id="keyReqNum" name="keyReqNum" underline="true" />
						<#input id="authSeq" name="authSeq" underline="true" />
						<#input id="checkCode" name="checkCode" underline="true" />
						<#input id="recordType" name="recordType" underline="true" />
						<#input id="cardFlag" name="cardFlag" underline="true" />
						<#input id="createTime" name="createTime" underline="true" />
						<#input id="updateTime" name="updateTime" underline="true" />
						<#input id="cardUpload" name="cardUpload" underline="true" />
						<#input id="tokenId" name="tokenId" underline="true" />
						<#input id="userPhone" name="userPhone" underline="true" />
						<#input id="tokenVersion" name="tokenVersion" underline="true" />
						<#input id="cityInLength" name="cityInLength" underline="true" />
						<#input id="cityOutLength" name="cityOutLength" underline="true" />
						<#input id="cityInRebate" name="cityInRebate" underline="true" />
						<#input id="cityOutRebate" name="cityOutRebate" underline="true" />
						<#input id="downTime" name="downTime" underline="true" />
						<#input id="markStationName" name="markStationName" underline="true" />
						<#input id="downStationName" name="downStationName" underline="true" />
						<#input id="cityInDiscount" name="cityInDiscount" underline="true" />
						<#input id="lineName" name="lineName" underline="true" />
						<#input id="cityOutDiscount" name="cityOutDiscount" underline="true" />
						<#input id="ntOrderId" name="ntOrderId" underline="true" />
						<#input id="channelType" name="channelType" underline="true" />
						<#input id="channelId" name="channelId" underline="true" />
						<#input id="orderDate" name="orderDate" underline="true" />
						<#input id="tradeType" name="tradeType" underline="true" />
						<#input id="porderId" name="porderId" underline="true" />
						<#input id="posMarkTransSeq" name="posMarkTransSeq" underline="true" />
						<#input id="posDownTransSeq" name="posDownTransSeq" underline="true" />
						<#input id="markPasmId" name="markPasmId" underline="true" />
						<#input id="downPasmId" name="downPasmId" underline="true" />
						<#input id="markPosId" name="markPosId" underline="true" />
						<#input id="downPosId" name="downPosId" underline="true" />
						<#input id="markTokenId" name="markTokenId" underline="true" />
						<#input id="downTokenId" name="downTokenId" underline="true" />
						<#input id="transState" name="transState" underline="true" />
						<#input id="thirdInstid" name="thirdInstid" underline="true" />
						<#input id="thirdChannelid" name="thirdChannelid" underline="true" />
						<#input id="transcode" name="transcode" underline="true" />
						<#input id="transmsg" name="transmsg" underline="true" />
						<#input id="errType" name="errType" underline="true" />
						<#input id="errDesc" name="errDesc" underline="true" />
                </div>

                <div class="col-sm-6">

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="QrcodeRideTransErrorInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="QrcodeRideTransErrorInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/record/qrcodeRideTransError/qrcodeRideTransError_info.js"></script>
@}
