@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${busPosFirmware.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
					<#input id="id" name="id" value="${busPosFirmware.id}" underline="true" />
					<#input id="firmVersion" name="firmVersion" value="${busPosFirmware.firmVersion}" underline="true" />
                </div>

                <div class="col-sm-6">
					<#input id="content" name="content" value="${busPosFirmware.content}" underline="true" />
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BusPosFirmwareInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BusPosFirmwareInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/pos/busPosFirmware/busPosFirmware_info.js"></script>
@}
