@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${posCardType.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
					<#input id="mchntcode" name="商户简码" value="${posCardType.mchntcode}" underline="true" />
					<#input id="cardPhyType" name="物理类型" value="${posCardType.cardPhyType}" underline="true" />
					<#input id="cardType" name="逻辑类型" value="${posCardType.cardType}" underline="true" />
					<#input id="cardAttr" name="卡类型名称" value="${posCardType.cardAttr}" underline="true" />
					<#input id="costType" name="扣款模式" value="${posCardType.costType}" underline="true" />
					<#input id="minBalance" name="最小余额限制" value="${posCardType.minBalance}" underline="true" />
					<#input id="creditBalance" name="最大透支额度" value="${posCardType.creditBalance}" underline="true" />
                </div>

                <div class="col-sm-6">
                    <#input id="maxBalance" name="最大余额限制" value="${posCardType.maxBalance}" underline="true" />
                    <#input id="maxConsume" name="最大扣款额度" value="${posCardType.maxConsume}" underline="true" />
                    <#input id="inRate" name="界内优惠率" value="${posCardType.inRate}" underline="true" />
                    <#input id="inLimit" name="界内优惠额度" value="${posCardType.inLimit}" underline="true" />
                    <#input id="outRate" name="界外优惠率" value="${posCardType.outRate}" underline="true" />
                    <#input id="outLimit" name="界外优惠额度" value="${posCardType.outLimit}" underline="true" />
                    <#input id="reserved" name="备注" value="${posCardType.reserved}" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PosCardTypeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PosCardTypeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/pos/posCardType/posCardType_info.js"></script>
@}
