@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>实体互通卡折扣设置 管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                        	  	<div class="col-sm-3">
                                	<#NameCon id="subCompanyId" name="运营公司ID" />
                           	 	</div>
                        
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ExchangeCardDiscount.search()"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12" id="ExchangeCardDiscountTableToolbar" role="group">
                            @if(shiro.hasPermission("/exchangeCardDiscount/add")){
                                <#button name="添加" icon="fa-plus" clickFun="ExchangeCardDiscount.openAddExchangeCardDiscount()"/>
                            @}
                            @if(shiro.hasPermission("/exchangeCardDiscount/update")){
                                <#button name="修改" icon="fa-plus" clickFun="ExchangeCardDiscount.openExchangeCardDiscountDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/exchangeCardDiscount/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="ExchangeCardDiscount.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/exchangeCardDiscount/import")){
                            <#button name="文件导入" icon="fa-plus" clickFun="ExchangeCardDiscount.openImport()" space="true"/>
                            @}
                        </div>
                        <#table id="ExchangeCardDiscountTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/basebusiness/exchangeCardDiscount/exchangeCardDiscount.js"></script>
@}
