<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmac.ffan.common.persistence.dao.CcMchntPosMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bmac.ffan.common.persistence.model.CcMchntPos">
		<id column="id" property="id" />
		<result column="pos_id" property="posId" />
		<result column="mchnt_id" property="mchntId" />
		<result column="mchnt_type" property="mchntType" />
		<result column="install_time" property="installTime" />
		<result column="create_time" property="createTime" />
	</resultMap>

</mapper>
