<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmac.ffan.common.persistence.dao.CcQrcodeDiscountMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bmac.ffan.common.persistence.model.CcQrcodeDiscount">
		<result column="sub_company_id" property="subCompanyId" />
		<result column="card_type" property="cardType" />
		<result column="city_in_discount" property="cityInDiscount" />
		<result column="city_in_preferential_amount" property="cityInPreferentialAmount" />
		<result column="city_out_discount" property="cityOutDiscount" />
		<result column="max_preferential_amount" property="maxPreferentialAmount" />
		<result column="city_out_preferential_amount" property="cityOutPreferentialAmount" />
	</resultMap>

</mapper>
