<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmac.ffan.common.persistence.dao.CcStationInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bmac.ffan.common.persistence.model.CcStationInfo">
		<id column="id" property="id" />
		<result column="line_id" property="lineId" />
		<result column="name" property="name" />
		<result column="flag" property="flag" />
		<result column="num" property="num" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="opera_station_num" property="operaStationNum" />
		<result column="ic_station_num" property="icStationNum" />
		<result column="ic_sub_station_num" property="icSubStationNum" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

</mapper>
