<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmac.ffan.common.persistence.dao.CcTokenInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bmac.ffan.common.persistence.model.CcTokenInfo">
		<id column="id" property="id" />
		<result column="token_id" property="tokenId" />
		<result column="user_id" property="userId" />
		<result column="token_type" property="tokenType" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="space" property="space" />
		<result column="token_level" property="tokenLevel" />
		<result column="ticket_id" property="ticketId" />
		<result column="nt_orderid" property="ntOrderid" />
		<result column="ticket_type" property="ticketType" />
		<result column="token_info" property="tokenInfo" />
		<result column="token_enc" property="tokenEnc" />
		<result column="state" property="state" />
		<result column="use_time" property="useTime" />
		<result column="pos_id" property="posId" />
		<result column="expire_type" property="expireType" />
		<result column="expire_time" property="expireTime" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

</mapper>
