@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${qrcodeToken.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
					<#input id="vsirBmacno" name="虚拟卡号" value="${qrcodeToken.vsirBmacno}" underline="true" />
					<#input id="userId" name="用户ID" value="${qrcodeToken.userId}" underline="true" />
					<#input id="cardCheckDigit" name="卡号校验位" value="${qrcodeToken.cardCheckDigit}" underline="true" />
                </div>

                <div class="col-sm-6">
					<#input id="thirdInstid" name="第三方机构号" value="${qrcodeToken.thirdInstid}" underline="true" />
					<#input id="thirdChannelid" name="第三方渠道号" value="${qrcodeToken.thirdChannelid}" underline="true" />
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="QrcodeTokenInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="QrcodeTokenInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/qrcode/qrcodeToken/qrcodeToken_info.js"></script>
@}
