@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
						<#input id="id" name="id" underline="true" />
						<#input id="ticketId" name="ticketId" underline="true" />
						<#input id="ntOrderid" name="ntOrderid" underline="true" />
						<#input id="agentId" name="agentId" underline="true" />
						<#input id="mchntId" name="mchntId" underline="true" />
						<#input id="spotId" name="spotId" underline="true" />

                </div>

                <div class="col-sm-6">
                    <#input id="termId" name="termId" underline="true" />
						<#input id="sesq" name="sesq" underline="true" />
						<#input id="totalCnt" name="totalCnt" underline="true" />
						<#input id="useCnt" name="useCnt" underline="true" />
						<#input id="createTime" name="createTime" underline="true" />
						<#input id="updateTime" name="updateTime" underline="true" />
                </div>

                <div class="col-sm-6">

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TicketDetailInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TicketDetailInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/qrcode/ticketDetail/ticketDetail_info.js"></script>
@}
