@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${posVersion.id}">
            <input type="hidden" id="typeHidden" value="${posVersion.type}">
            <input type="hidden" id="upgradeTypeHidden" value="${posVersion.upgradeType}">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input disabled="disabled"  id="firmVersion" name="版本号" value="${posVersion.firmVersion}" underline="true" />
                    <#input disabled="disabled"  id="filesize" name="固件文件大小" value="${posVersion.filesize}" underline="true" />
                    <#input disabled="disabled"  id="fileId" name="固件文件索引" value="${posVersion.fileId}" underline="true" />
                    <#input disabled="disabled"  id="content" name="版本描述" value="${posVersion.content}" underline="true" />
                    <#input disabled="disabled"  id="path" name="下载路径" value="${posVersion.path}" underline="true" />

                </div>

                <div class="col-sm-6">
                    <#select id="type" name="升级方式">
                        <option value="00">自动升级</option>
                        <option value="01">手动升级</option>
                    </#select>
                    <#select id="upgradeType" name="升级类型">
                        <option value="0">所有POS机</option>
                        <option value="1">商户POS机</option>
                        <option value="2">特定POS机</option>
                    </#select>
                    <#input disabled="disabled"  id="mchntId" name="商户ID" value="${posVersion.mchntId}" underline="true" />
                    <#input disabled="disabled"  id="posId" name="POS机ID" value="${posVersion.posId}" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="PosVersionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/pos/posVersion/posVersion_info.js"></script>
@}
