@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
						<#input id="id" name="id" underline="true" />
						<#input id="tokenId" name="tokenId" underline="true" />
						<#input id="userId" name="userId" underline="true" />
						<#input id="tokenType" name="tokenType" underline="true" />
						<#input id="startTime" name="startTime" underline="true" />
						<#input id="endTime" name="endTime" underline="true" />
						<#input id="space" name="space" underline="true" />
						<#input id="tokenLevel" name="tokenLevel" underline="true" />
						<#input id="ticketId" name="ticketId" underline="true" />
						<#input id="ntOrderid" name="ntOrderid" underline="true" />
				</div>

				<div class="col-sm-6">
						<#input id="ticketType" name="ticketType" underline="true" />
						<#input id="tokenInfo" name="tokenInfo" underline="true" />
						<#input id="tokenEnc" name="tokenEnc" underline="true" />
						<#input id="state" name="state" underline="true" />
						<#input id="useTime" name="useTime" underline="true" />
						<#input id="posId" name="posId" underline="true" />
						<#input id="expireType" name="expireType" underline="true" />
						<#input id="expireTime" name="expireTime" underline="true" />
						<#input id="createTime" name="createTime" underline="true" />
						<#input id="updateTime" name="updateTime" underline="true" />
                </div>

                <div class="col-sm-6">

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TokenInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TokenInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/qrcode/tokenInfo/tokenInfo_info.js"></script>
@}
